# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/ProyVenta/VentaApp/nbproject/private/
/Sem02/ProyVenta/VentaApp/build/
/Sem02/ProyVenta/VentaApp/dist/
/Sem03/PagoApp/nbproject/private/
/Sem03/PagoApp/build/
/Sem03/DistanciaRecta/nbproject/private/
/Sem03/DistanciaRecta/build/
/Sem04/AppCursos/nbproject/private/
/Sem04/AppCursos/build/